/* form{
    display: flex;
    flex-wrap: wrap;
} */

/* Input{
    flex-basis: 50%;
} */

.error{
    color: red;
}
.parent-data{
    display: flex;
    justify-content: stretch;
}
.form-control{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.row-item{
    width: 25%;
}